<!DOCTYPE html>
<html>
<body>

<h2> What type of makeup style suits your face?</h2>

<p> question </p>
<form>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
</form>

<p> question </p>
<form>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
</form>

<p> question </p>
<form>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
</form>

<p> question </p>
<form>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
</form>

<p> question </p>
<form>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
	<input type="radio" id="" name="" value="">
	<label for="">blah blah blah</label><br>
	<input type="submit">
</form>


</body>
</html>
