<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css">
</head>

<body>

<h2> What type of makeup style suits your face?</h2>

<p> What is your eye shape? </p>
<form class="form-style">
	<input type="radio" id="Round" name="eye_shape" value="Round">
	<label for="">Round</label><br>
	<input type="radio" id="Almond" name="eye_shape" value="Almond">
	<label for="">Almond</label><br>
	<input type="radio" id="Hooded" name="eye_shape" value="Hooded">
	<label for="">Hooded</label><br>
	<input type="radio" id="Upturned" name="eye_shape" value="Upturned">
	<label for="">Upturned</label><br>
	<input type="radio" id="Monolid" name="eye_shape" value="Monolid">
	<label for="">Monolid</label><br>
	<input type="radio" id="Downturned" name="eye_shape" value="Downturned">
	<label for="">Downturned</label><br>
</form>

<p> What is your lip volume? </p>
<form>
	<input type="radio" id="Full" name="lip_volume" value="Full">
	<label for="">Full</label><br>
	<input type="radio" id="Medium" name="lip_volume" value="Medium">
	<label for="">Medium</label><br>
	<input type="radio" id="Thin" name="lip_volume" value="Thin">
	<label for="">Thin</label><br>
</form>

<p> What is your eyebrow shape? </p>
<form>
	<input type="radio" id="Arch" name="eyebrow_shape" value="Arch">
	<label for=""> Arch </label><br>
	<input type="radio" id="Sraight" name="eyebrow_shape" value="Straight/Flat">
	<label for=""> Straight/Flat </label><br>
	<input type="radio" id="S-shaped" name="eyebrow_shape" value="S-shaped">
	<label for=""> S-shaped </label><br>
	<input type="radio" id="Round" name="eyebrow_shape" value="Round">
	<label for=""> Round </label><br>
	<input type="radio" id="High-Arch" name="eyebrow_shape" value="High-arch">
	<label for=""> High-Arch </label><br>
	<input type="radio" id="Thin" name="eyebrow_shape" value="Thin">
	<label for=""> Thin </label><br>
</form>

<p> What type of nose do you have? </p>
<form>
	<input type="radio" id="Straight" name="nose_type" value="Straight">
	<label for="">Straight</label><br>
	<input type="radio" id="Greek" name="nose_type" value="Greek">
	<label for="">Greek</label><br>
	<input type="radio" id="Snub" name="nose_type" value="Snub">
	<label for="">Snub</label><br>
	<input type="radio" id="Wide" name="nose_type" value="Wide">
	<label for="">Wide</label><br>
	<input type="radio" id="Bulbous" name="nose_type" value="Bulbous">
	<label for="">Bulbous</label><br>
	<input type="radio" id="Roman" name="nose_type" value="Roman">
	<label for="">Roman</label><br>
	<input type="radio" id="Hawk" name="nose_type" value="Hawk">
	<label for="">Hawk</label><br>
	<input type="radio" id="Button" name="nose_type" value="Button">
	<label for="">Button</label><br>
</form>

<p> What is your facial structure/face shape? </p>
<form>
	<input type="radio" id="Round" name="face_shape" value="Round">
	<label for="">Round</label><br>
	<input type="radio" id="Square" name="face_shape" value="Square">
	<label for="">Square</label><br>
	<input type="radio" id="Oval" name="face_shape" value="Oval">
	<label for="">Oval</label><br>
	<input type="radio" id="Diamond" name="face_shape" value="Diamond">
	<label for="">Diamond</label><br>
	<input type="radio" id="Heart" name="face_shape" value="Heart">
	<label for="">Heart</label><br>
	<input type="radio" id="Rectangle" name="face_shape" value="Rectangle">
	<label for="">Rectangle</label><br>
	<input type="radio" id="Triangle" name="face_shape" value="Triangle">
	<label for="">Triangle</label><br>
	<input type="radio" id="Oblong" name="face_shape" value="Oblong">
	<label for="">Oblong</label><br>
	
	<input type="submit">
</form>


</body>
</html>
